/*************/
/* variables */
/*************/

:root {
    /* fonts */

    /* font sizes */
    --xlrg: 4rem; 
    --lrg: 2.5rem;
    --med: 2rem;
    --sml: 1.25rem;
    --xsml: 0.75rem;
    --body: 1.5rem;
    --spacer: 1rem;

    /* colors */
    --burgundy: #6B2737;
    --moss: #466362;
    --sand: #FFEAD0;
    --darkgrey: #333333;
    --white: #FFFFFF;
}

/****************/
/* an AOK reset */
/****************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
fieldset {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

ol[class],
ul[class] {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button,
input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    border: none;
    background: none;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

/*******************/
/* utility classes */
/*******************/

.flow-content > * + * {
    margin-top: var(--spacer);
  }

.flow-content-extra > * + * {
    margin-top: var(--med);
}
  
  .container {
    padding: 0 var(--spacer);
    max-width: 50rem;
    margin: 0 auto;
  }
  
  .flex {
    display: flex;
  }

/**********/
/* layout */
/**********/

body {
    background-color: var(--sand);
    color: var(--darkgrey);
    font-family: sans-serif;
    font-size: var(--body);
    line-height: 1.75;
}

.img {
    max-width: 25rem;
    margin: 5rem auto;
}

img {
    border-radius: 50%;
}

header {
    text-align: center;
}

section {
    margin: 7rem 0;
}

#survived-by {
    text-align: center;
}

.rosary-h4 {
    margin-top: var(--xlrg);
}

/**********/
/* styles */
/**********/

h1 {
    font-size: var(--xlrg);
    color: var(--burgundy);
}

h2 {
    font-size: var(--lrg);
    color: var(--burgundy);
}

h3 {
    font-size: var(--med);
    color: var(--moss);
}

h4 {
    font-size: var(--sml);
    color: var(--moss);
    text-transform: uppercase;
}

a {
    font-size: var(--sml);
    font-weight: 700;
    color: var(--burgundy);
    text-decoration: none;
    border-bottom: 1px solid var(--burgundy);

}

a:hover {
    color: var(--moss);
}

.title {
    border-bottom: 4px dashed var(--white);
    margin-bottom: var(--lrg);
}

.amen {
    font-weight: 700;
    font-style: italic;
    color: var(--moss);
}

.speaker {
    font-weight: 700;
    color: var(--burgundy);
    margin-right: var(--xsml);
    border-bottom: 2px solid var(--burgundy);
}

.creds {
    color: var(--burgundy);
    font-weight: 100;
    font-style: italic;
}