/*************/
/* variables */
/*************/

:root {
    /* pending */
}

/****************/
/* an AOK reset */
/****************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
fieldset {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

ol[class],
ul[class] {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button,
input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    border: none;
    background: none;
}

html {
    font-size: 100%;
    line-height: 1.5;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}


/**********/
/* layout */
/**********/


/**********/
/* styles */
/**********/
.amen {

}

.speaker {
    font-weight: 700;
    margin-right: 0.5rem;
}